@import "tailwindcss";

/* Chrome, Edge */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear-button {
  display: none;
}

/* Safari */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button {
  display: none;
}
