@import "tailwindcss";
@plugin "daisyui" {
  themes: "forest --default";
}

/* Chrome, Safari, Edge, Opera */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Also hide the search decoration (magnifying glass) if needed */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
